.wp-block-onlyoffice-docspace-wordpress-onlyoffice-docspace__editor {
    align-items: center;
    color: white;
    display: flex;
    font-size: 20px;
    height: inherit;
    justify-content: center;
    margin: 0;
    max-width: inherit;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: inherit;
}

.components-modal__content {
    padding: 0 !important;
}

.wp-block-onlyoffice-docspace-wordpress-onlyoffice-docspace__editor .docspace-icon {
    border-radius: 22px;
    height: 128px;
    width: 128px;
}

.wp-block-onlyoffice-docspace-wordpress-onlyoffice-docspace__editor p {
    margin: 0;
}